.task_wrapper {
    display: flex;
    gap:10px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.btns {
    display: flex;
    gap: 10px;
}

.complete {
    text-decoration: line-through;
}